<h1>Listing All Article</h1>
<p>
<%= link_to "Create New Article", new_article_path %>
</p>


<table>
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Created By</th>
    <th>Created At</th>
    <th>Last Updated</th>
</tr> 
<% @articles.each do |article| %>
<tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= article.user.username if article.user %></td>
    <td><%= time_ago_in_words(article.created_at)  %> ago</td>
    <td><%= time_ago_in_words(article.updated_at)  %> ago</td>
    <td><%= link_to "Edit", edit_article_path(article) %></td>
    <td><%= link_to "show", article_path(article) %></td>
    <td><%= button_to "Delete", article_path(article), method: :delete , data: {confirm: "Are you sure?"} %></td>
</tr> 
<% end %>


</table>


