<h1 class="text-center">Welcome <%= @user.username %> </h1>

<div class="row mb-3">
    <div class="col-md-4 col-md-offset-4 text-center m-auto">
        <%= gravatar_for @user, size: 150 %> 
    </div>
</div>

<h4 class="text-center"><%= @user.username %>'s articles</h4>

<div class="text-center">
    <%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)  %> 
</div>
<%= render 'articles/article', obj: @user_articles %>


<div class="text-center">
    <%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)  %> 
</div>